// Variable overrides
$sidebar-width: 250px;
// $theme-colors: (
//     primary: #2D69AF
// );

$sidebar-bg: #1B5292;
$sidebar-nav-link-icon-color: #FCFEFC;
$sidebar-nav-link-active-bg: #2D69AF;
$sidebar-minimizer-bg: transparent;